.product-img{
    height: 180px;
    width: 100%;
    transition: all 0.5s;
}
.product-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.stock{
    position: absolute;
    top: 0;
    right: 0;
}
.add-btn{
    position: absolute;
    bottom: 6px;
    right: 10px;
}

/* media queries for responsive */
@media (max-width: 767px) {
    .product-img{
    height: 90px;
    width: 120px;
}
}