.product-img{
    height: 180px;
    width: 100%;
    transition: all 0.5s;
}
.product-card:hover{
    cursor: pointer;
}
.product-card:hover .product-img{
    transform: scale(1.1);
}
.stock{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    background-color: #FFE9DD;
}
.add-btn{
    position: absolute;
    bottom: 7px;
    right: 10px;
}

/* media queries for responsive */
@media (max-width: 767px) {
    .product-img{
    height: 90px;
    width: 120px;
}
}